<html>
    <head>
        <!-- Dark: #263238, #263238, #455A64, #455A64, #78909C lightest -->
        <title>Stylist Clients</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
    </head>

    <body>
        <div class="container">
            <h2>Update the {{ clients.getClientName }} clients. </h2>
            <div class="submit_form">
                <div class="form-group">
                    <form action="/client/{{ clients.getId }}" method="post">
                        <input name="_method" type="hidden" value="patch">
                        <label for="client_name">Rename your client:</label>
                        <input id="client_name" name="client_name" type="text">

                        <button class="btn btn-default" type="submit">Update</button>
                    </form>
                </div>
                <div classs="form-group">
                    <form action="/client/{{ clients.getId }}" method="post">
                        <input name="_method" type="hidden" value="delete">

                        <button class="btn btn-default" type="submit">Delete this client</button>
                    </form>
                </div>
            </div>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
